@charset "utf-8";
/* CSS Document */
::-webkit-scrollbar {
		width: 8px;
}
::-webkit-scrollbar-track {
	background-color:rgba(0,0,0,0.1);
}
::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,.3); 
	border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover{
	background-color: rgba(0,0,0,.4)
}
::-webkit-scrollbar-button {
	display: none;
	background-color: #7c2929;
}
::-webkit-scrollbar-corner {
	display: none;
	background-color: rgba(0,0,0,.3);
}

html{
	font-family: arial,sans-serif;
}
body{
	margin:0;
	padding:0;
	font-family: arial,sans-serif;
	font-size: 13px;
	min-height: 300px;
	min-width: 680px;
	transition: background .4s ease-in-out;
}
a:visited{
	color: blue;
}
i{
	font-weight: bold;
	color: #000;
}
input[type=range]{
	width: 160px; 
	height: 1px; 
	background: #5677fc;
	/*rgba(75, 75, 75, 0.8) !important; */
	border: 1px solid transparent; 
	border-radius: 5px;
	-webkit-user-select: none;
	-webkit-appearance: none !important;
}
input[type=range]:focus{
	outline:none;
}
input[type=range]::-moz-range-thumb{}

input[type=range]::-webkit-slider-thumb{
/*	width: 15px; 
	height: 15px; 
	border-radius:100%;*/
	background: #e7e9fd; 
	border: 1px solid #d0d9ff; 
	box-shadow: 1px 1px 1px #000;
	-webkit-user-select: none;
	-webkit-appearance: none !important; 

	width: 34px;
	height: 13px;
	border-radius: 6px;
	background: #5677fc;
	box-shadow: none;
	/*margin-bottom: 1px;*/
}
input[type=range]::-ms-thumb{
	width: 34px;
	height: 33px;
}
#welcomebox{
	display: none;
	opacity: 0;
	height: 100%;
	width: 100%;
	/*opacity: .8;*/
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	background: rgba(0,0,0,.7);
	transition:all .9s ease-in-out;
}
#welcome{
	width: 600px;
	min-height: 240px;
	padding: 0 10px 40px;
	margin: 0 auto;
	border: 1px solid #d0d9ff;
	color: #777;
	background: #fff;
	font-size: 16px;
	line-height: 24px;
}
#wel_title{
	font-size: 32px;
	text-align: center;
	padding: 20px 0;
}
#wel_con1{
	text-align: center;
}
#wel_button{
	float: right;
}


#top{
	transition:all .4s ease-in-out;
}
nav{
	opacity: .95;
	text-align: center;
	background: #5677fc;
	color: #e7e9fd;
	font-size: 28px;
	font-weight: bold;
	height: 64px;
	line-height: 64px;
	padding: 0 10px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	box-shadow: 0 2px 5px rgba(0,0,0,.26);
}
nav button{
	background-size: 24px 24px;
	border: 0;
	display: block;
	height: 48px;
	overflow: hidden;
	text-indent: -9999px;
	top: 8px;
	width: 48px;
	z-index: 2;
	position: fixed;	
}
nav button:hover{
	cursor: pointer;
	background-color: rgba(255,255,255,.1) !important;
}
nav #nav_logo{
	float: left;
	width: 56px;
	padding-top: 5px;
}
nav #nav_img{
	float: left;
	position: absolute;
	/*left: 74px;*/
	left: 0;
	top: 0;
	width: 24px;
	height: 24px;
	padding: 20px;
/* 	background:url('../image/menu.svg') transparent center center no-repeat;
top: 8px;
width: 48px;
z-index: 2;
position: fixed; */
}
#nav_img:hover{
	cursor: pointer;
	background-color: rgba(255,255,255,.1) !important;
}
nav #nav_txt{
	/*margin-left: 58px;*/
	text-indent: -64px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	transition:all .4s ease-in-out;
}
nav #nav_btn{
	/*width: 100px;*/
	float: right;
	position: absolute;
	right: 0;
	top: 0;
	padding-right: 20px;
}
nav #nav_btn img{
	width: 16px;
	height: 16px;
	/*display: block;*/
	padding: 24px;
}
nav #nav_btn img:hover{
	cursor: pointer;
	background-color: rgba(255,255,255,.1) !important;
}
/*nav #nav_reset{
	background:url('../image/reset_cur.png') transparent center center no-repeat;
	background-size: 10px;
	right: 68px;
	width: 48px;
	z-index: 2;
	position: fixed;
}*/

nav .nav_svg{
	border: 0;
	display: block;
	height: 48px;
	width: 48px;
	top: 8px;
	z-index: 2;
	position: fixed;
	right: 10px;
}

/*nav #nav_menu{
	background:url('../image/menuplus.svg') transparent center center no-repeat;
	background-size: 10px;
}
nav #nav_menu:hover{
	cursor: pointer;
	background-color: rgba(255,255,255,.1) !important;
}
nav .nav_menu{
	cursor: pointer;
}*/
menu{
	margin: 0;
	padding: 0;
	width: 260px;
	height: 100%;
	position: fixed;
	background: #fff;
	top: 0;
	left: -350px;
	z-index: 105;
	opacity: 1;
	box-shadow: 2px 0 5px rgba(0,0,0,.26);
	transition:all .4s ease-in-out;
}
menu #pin{
	position: absolute;
	right: 4px;
	padding: 1px;
	top: 60px;
	opacity: .5;
	cursor: pointer;
	/*background: #d0d9ff;*/
	/*border: 1px solid #d0d9ff;*/
	/*border-radius: 100%;*/
	transition:all .4s ease-in-out;
}
menu #pin:hover{
	border-radius: 100%;
	background: #d0d9ff;
}
menu #menu_logo{
	width:64px;
	height:64px;
	display:block;
	margin:10px;
	margin-left: 0;
	transition:all .8s ease-in;
}
menu #menu_name{
	width: 140px;
	float: left;
	font-size: 38px;
	font-weight: bold;
	color: #5677fc;
	line-height: 60px;
	padding: 10px;
	display: none;
	opacity: 0;
	transition:all .4s ease-in-out;
}
menu #menu_topbox{
	float: left;
	width: 100%;
}
menu #menu_bottom{
	border-top: 1px solid #d0d9ff;
	padding: 10px;
	width: 240px;
	position: absolute;
	bottom: 0;
	background: #e7e9fd;
	transition:all .4s ease-in-out;
}
menu #menu_bottom img{
	height: 16px;
	filter: grayscale(100%);
	float: left;
}
menu #menu_bottom span{
	text-indent: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
}
menu #menu_bottom:hover{
	cursor: pointer;
	background: #d0d9ff;
}
menu #menu_bottom:hover img{
	filter: grayscale(30%)
}
#menu_bg{
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background: rgba(0,0,0,.26);
	z-index: 101;
	transition:all .4s ease-in-out;
}

#btn_add{
	display: none;
	position: fixed;
	bottom:120px;
	width: 56px;
	height: 56px;
	line-height: 56px;
	border-radius: 100%;
	box-shadow: 0 2px 5px rgba(0,0,0,.6);
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	background: #F44336;
	cursor: pointer;
	z-index: 2;
	color: #d0d9ff;
	transition:all .2s ease-in-out;
}
#btn_add:active{
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin: 8px 8px 0 0;
}
.btn_engine,.btn_script{
	transition:background .2s ease-in-out;
	width: 40px !important;
	padding: 0 !important;
	background: #5677fc;
	margin-right: 100%;
	color: #fff !important;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.26);

	width:120px !important;
	height:42px;
	margin-top:5px;
	font-size:24px;
}
.btn_engine:hover,.btn_script:hover{
	background-color: #fff;
	color: #5677fc !important;
}
smartup{

}
smartup.su_apps{
	position: fixed;
	left: 300px;
	top: 0;	
	background-color: #d0d9ff;
	z-index: 1000;
	border: 1px solid #5677fc;
	border-radius: 2px;
	opacity: 0;
	transition:all .4s ease-in-out;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
}
.box_head{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 120px;
	background: #5677fc;
	font-weight: bold;
	font-size: 16px;
	color: #fff;
	padding-top: 5px;
	padding: 0;
	text-align: center;
}
.box_title{
	display: inline-block;
	padding-top: 8px;
	font-size: 18px;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
}
.box_btn_close{
	color: rgba(255, 255, 255, 0.5);
	position: absolute;
	top: 5px;
	right: 5px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	padding: 2px 6px;
	border-radius: 100%;
	cursor: pointer;
	transition:all .4s ease-in-out;
}
.box_btn_close:hover{
	background: red;
	border: 1px solid transparent;
	color: #fff;
}
.box_btn_close:active{
	background: blue;
	top: 6px;
	right: 4px;
}
.box_main{
	min-width: 100px;
	min-height: 100px;
	margin: 40px 16px 16px 16px;
	background: #fff;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
	overflow: auto;
	position: relative;
	padding: 8px 8px 0px 8px;
	border-radius: 2px
}
.box_submit{
	text-align: right;
	/*padding: 16px;*/
	/*border-top: 1px solid rgba(0, 0, 0, 0.2);*/
	margin: 10px -8px 10px;
	padding: 6px 8px;
}

.box_des{
	display: none;
	max-width: 400px;
	font-size: 12px;
	color: #777;
}
.box_des ul{
	margin: 5px 0;
	padding: 0 20px;
}
.box_desbox{
	margin: 7px 0;
}
.box_destext{
	width: 238px;
	margin-left:20px;
	margin-top: 5px;
}
.box_desbox #box_mydes{
	margin-left: 0;
}
.box_more{
/*	background: rgba(86, 119, 252, 0.1);
    padding: 3px;
    margin: -3px -3px;
    border-radius: 0 0 5px 5px;*/
}
.box_more input[type=range]{
	width: 115px;
}
.box_more select{
	margin: 3px 0;
}
.box_direct{
	/*text-indent: 22px;*/
	text-align: center;
	background: #738ffe;
	padding-top: 2px;
	/*margin: 0 5px;*/
	border-radius: 2px;
	overflow: hidden;
	max-height: 120px;
}
.box_text{
	margin: 3px 0;
}
.box_direct:hover .box_diredit{
	/*display: inline-block;*/
	top: 0;
}
.box_diredit{
	/*display: none;*/
	cursor: pointer;
	position: relative;
	float: right;
	right: 2px;
	top: -30px;
	border: 1px solid rgba(108, 108, 131, 0.45);
	border-radius: 100%;
	padding: 3px;
	background: rgba(255, 255, 255, 0.33);
	transition:all .4s ease-in-out;
}
.box_diredit:hover{
	background-color: red;
	border-color: transparent;
}
.box_bg{
	width:100%;
	height:100%;
	opacity:0;
	background:rgba(0, 0, 0, 0.5);
	z-index:999;
	position:fixed;
	left:0;
	top:0;
	transition:all .4s ease-in-out;
}
.item{
	height: auto;
	width: 200px;
	border: 1px solid #d0d9ff;
}
.item_more:hover{
	height: 80px;
}
.item_more:hover .item_dir{
	visibility: visible;
	opacity: 1;
	transition: all .4s ease-in-out;
}
.item:hover{
	background: #5677fc;
	transition:all .4s ease-in-out;
	color: #fff;
	font-weight: bold;
	border: 1px solid transparent;
	box-shadow: 4px 4px 1px #3b50ce;
}
.item:hover .item_del{
	display: block;
	right: 0;
	top: 0;

	margin-top: -75px;
}
.item:hover .item_dir{
	display: block;

	position: relative;
	top: -40px;
}
.item_del{
	position: sticky;
	right: 0;
	top: 20px;
	display: none;
	float: right;
	width: 18px;
	height: 18px;
	line-height: 18px;
	border-radius: 100%;
	padding: 0;
	margin: -35px -5px 0 0;
	font-size: 12px; 
	display: block;
	text-align: center;
	color: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(255, 255, 255, 0.3);
	cursor: pointer;
	transition:all .6s ease-in-out;
}
.item_del:hover{
	background: red;
	border: 1px solid transparent;
	color: #fff;
}
.item_name{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;

	height: 100%;
	/*z-index: 10;*/
	position: relative;
}
.item_dir{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;

	position: sticky;
    bottom: 0px;
    visibility: hidden;
    opacity: 0;
    position: relative;
    /*z-index: -1;*/
}
.item_sdrgdir{
	position: relative;
	top: -40px;
	right: 0;
	background-color: #d0d9ff;
	display: block;
	width: 40px;
	float: right;
	overflow: hidden;
}


#wrap{
	width: 1080px;
	height: auto;
	margin: 0 auto;
	padding: 0;
}
#msgbox{
	min-width: 300px;
	min-height: 40px;
	line-height: 40px;
	background: rgba(202,239,197,.98);
	position: fixed;
	top: 0px;
	opacity: 0;
	z-index: 0;
	padding: 5px 10px;
	text-align: center;
	border-radius: 2px;
	box-shadow: 2px 2px 2px rgba(0,0,0,.3);
	color: #fff;
	font-size: 16px;
	font-weight: bold;
}
#msgbox div{
	text-align: left;
	line-height: 20px;
}
.head{
	height: 40px;
	margin-top: 40px;
	border-top: 1px solid #9BA3AE;
	border-bottom: 1px solid #333;
	background-color: #6B7888;
	background: -webkit-gradient(linear, left top,left bottom, from(#6B7888),to(#545E6A), color-stop(0.1,#6A7786),color-stop(0.5,#5E6977),color-stop(0.9,#56616D),color-stop(1.0,#545E6A));

	font-size: 14px;
	line-height: 40px;
	color: #fff;
	text-align: center;
	
	/*margin-left: -280px;*/
}
#contenthead{
	height: 40px;
	border-top: 1px solid #9BA3AE;
	border-bottom: 1px solid #333;
	background-color: #6B7888;
	background: -webkit-gradient(linear, left top,left bottom, from(#6B7888),to(#545E6A), color-stop(0.1,#6A7786),color-stop(0.5,#5E6977),color-stop(0.9,#56616D),color-stop(1.0,#545E6A));

	font-size: 14px;
	line-height: 40px;
	color: #fff;
	text-align: center;
	opacity: 0;
	/*margin-left: -280px;*/
}
#contentheadtitle{
	font-size: 16px;
}
#main{
	opacity: 0;
	box-shadow: 3px 3px 2px rgba(0,0,0,.3);
	/*margin-bottom: 40px;*/
	position: absolute;
	width: 100%;
	/*height: 550px;*/
	overflow-y: auto;
	left:0px;
	background: #fff;
	margin-bottom: 10px;
 	/*transition:all .4s ease-in-out;*/
}
.menuplus{
	float:right;position: relative;top: -35px;right: 10px;height:0;
}
.menupluscontent{
	/*height: 80px;*/
	max-width: 180px;
	position: fixed;
	top: 70px;
	right: 20px;
	display: none;
	float: right;
	/*background-color: #455ede;*/
	list-style-type: none;
	
	text-align: left;
	margin: 0;
	padding: 0;
	padding-bottom: 5px;
	z-index: 10;
	/*box-shadow: 2px 2px 2px #000;*/
	transition:all .4s ease-in-out;

	background-color: rgba(255,255,255,.95);
	color: rgba(0,0,0);
	box-shadow: 0 1px 4px 3px rgba(0,0,0,.3);
}
.menupluscontent li{
	/*color: #fff;*/
	display: block;
	padding: 3px 20px;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
	text-indent: 14px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	transition:all .4s ease-in-out;
}
.menupluscontent li:hover{
	background-color: #5677fc;
	/*rgba(107, 120, 136, 0.57)*/
	color: #000 !important;
  background: #a6baff;
  color: #3f51b5 !important;
	font-weight: bold;
}
.menupluscontent li label{
	cursor: pointer;
}
#menu{
	width: 300px;
	height: 550px;
	float: left;
	background-color: #E7EBEE;
	/*border: 1px solid transparent;*/
	border-radius: 0 0 0 5px;
	min-height: 460px;
}
#menu>div{
	padding: 0 10px;
	width: 100%;
	float: left;
}
#menuhead{
	height: 40px;
	border-top: 1px solid #9BA3AE;
	border-bottom: 1px solid #333;
	background-color: #6B7888;
	background: -webkit-gradient(linear, left top,left bottom, from(#6B7888),to(#545E6A), color-stop(0.1,#6A7786),color-stop(0.5,#5E6977),color-stop(0.9,#56616D),color-stop(1.0,#545E6A));
}
#logo{
	position:absolute;
	top: 50px;
	width: 64px;
	height: 64px;
	background: rgba(255,255,255,1);
	border: 3px solid transparent;
	border-radius: 3px;
	float: left;
}
#logo img{
	width: 64px;
	height: 64px;
}
#name{
	font-size: 32px;
	font-weight: bold;
	line-height: 40px;
	color: rgba(92, 151, 222, 1);
	float: right;
	width: 200px;
	text-align: center;
}
#menubox{
	/* min-height: 460px;
	max-height: 460px; */
	height: 490px;
	overflow-y: auto;
	padding: 0 !important;
	/*margin-top: -18px;*/
}
#menubox>div{
	padding: 0 10px;
}
.menup{
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	font-weight: bold;
	color: rgba(0,0,0,.9);
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	cursor: pointer;
	transition:background .4s ease-out;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.menup:hover,
.menu-current{
	border-top: 1px solid #8598AC;
	border-bottom: 1px solid #C9CED3;
	background: #5677fc;
	color: #fff;
}
.menuul{
	list-style-type: none;
	margin: -2px 0;
	padding: 2px 0;
	background: #e7e9fd;
	transition:all .4s ease-in-out;
	opacity: 1;
}
.menuul li{
	text-align: right;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	padding-right: 20px;
	cursor: pointer;
	margin: 2px 0;
	border-right: 3px solid transparent;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.menuli{
	transition:all .3s ease-out;
}
.menuul li:hover,
.menulicurrent{
	background: #a6baff;
	border-right: 3px solid #5677fc !important;
	color: #3f51b5;
}
.menulicurrent{
	color: #3f51b5;
	font-weight: bold;
}
#content{
	width: 100%;
	background-color: #FFF;
	transition:all .4s ease-in-out;
	height: 100%;
}


#contentbox{
	overflow: hidden;
	/*overflow-y: auto;*/
	height: 100%;
}
.set{
	padding: 10px 20px;
	padding-bottom: 40px;
	padding-top: 40px;
	display: none;
	/*height: 100%;*/
	/*transition:all .4s ease-in-out;*/
}
.setname{
	border-bottom: 1px solid rgba(204, 204, 255, 0.4);
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 5px;
	color: rgba(0,0,0,.8);
}
.setcontent{
	padding: 10px 0 10px 40px;
	line-height: 25px;
	font-size: 13px;
}
.setdes{
	font-size: 12px;
	color: #777;
	padding-top: 10px;
	line-height: 14px;
}
.uiindent{
	margin-left: 20px;
}
.con-item{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.direct-sdrg{
	display: inline-block;
	float: right;
	width: 40px;
	height: 40px;
	text-align: center;
	background-color: #d0d9ff;
	overflow: hidden;
}
.dirbox{
	display: inline-block;
	width: 40px;
	text-align: center;
/*	height: 40px;
	background-color: #000;
	overflow: hidden;*/
}
.item-tsdrg,
.item-lsdrg,
.item-isdrg{
	padding-right:0 !important;
	/*width: 160px !important;*/
}
.con-item li,
.button-addnew,
.item-add{
	/*width: 180px;*/
	height: 40px;
	/*height: 80px;*/
	overflow: hidden;
	line-height: 40px;
	float: left;
	border-radius: 2px;
	margin: 5px 5px;
	padding: 0 10px;
	cursor: pointer;
	transition:all .2s ease-in-out;
	color: #303030;
}
.con-item li:hover{
	/*border-color: #999;*/
	/*box-shadow: 2px 2px 5px #aaa;*/
}
.con-item li div{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.item-add,
.button-addnew{
	text-align: center;
	font-size: 30px;
}
.con-close{
	float: right;
	height: 40px;
	line-height: 40px;
	margin: 0 -10px;
	/* margin: -4px -10px;
	margin-top: -4px;
	height: 33px;
	line-height: 33px; */
	padding: 0 10px;
	border-left: 1px solid #ddd;
	display: block;
	position: relative;
	/* top: -40px; */
}
.con-close:hover{
	background-color: rgba(68, 68, 68, 0.3);
}
#box{
	height: 100%;
	width: 100%;
	/*opacity: .8;*/
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	background: rgba(0,0,0,.7);
}
/* #box-wrap{
	width: 400px;
	height: 180px;
	margin: 0 auto;
	margin-top: 120px;
	background: rgba(255,255,255,1);

	overflow: hidden;
	border: #999 solid 1px;
	border-radius: 3px;
	padding: 3px;
	overflow: auto;
	font-family: Arial, 'Microsoft Yahei', Simsun, sans-serif;
	font-size: 13px;
	color: #000;
	box-shadow: 0 0 8px #4E1485;
} */
.box-title{
	border-bottom: #CCC solid 1px;
	padding: 3px;
	padding-bottom: 8px;
	cursor: auto;
	height: 30px;
	line-height: 30px;
	padding: 0;
	background: -webkit-linear-gradient(top,rgba(0,0,0,.3), rgba(234, 238, 243, 0.2) );
	text-indent: 10px;
}
.box{
	height: 100%;
	width: 100%;
	/*opacity: .8;*/
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	background: rgba(0,0,0,.7);
}
.box-wrap{
	width: 400px;
	/*height: 180px;*/
	margin: 0 auto;
	margin-top: 120px;
	background: rgba(255,255,255,1);

	overflow: hidden;
	border: rgba(99, 73, 73, 0.9) solid 1px;
	border-radius: 3px;
	/*padding: 3px;*/
	overflow: auto;
	font-family: Arial, 'Microsoft Yahei', Simsun, sans-serif;
	font-size: 13px;
	color: #000;
	box-shadow: 0 0 8px rgba(255, 255, 255, 0.75);
}
/* .box-title{
	border-bottom: #CCC solid 1px;
	padding: 3px;
	padding-bottom: 8px;
	cursor: move;
	height: 30px;
	line-height: 30px;
	padding: 0;
	background: -webkit-linear-gradient(top,rgba(78,20,133,.3), rgba(234, 238, 243, 0.2) );
	text-indent: 10px;
} */
.box_content{
	padding: 5px;
	border: 1px solid rgba(204, 204, 255, 0.3);
	border-radius: 5px;
}
.box-des{
	color: #777;
	font-size: 12px;
}
.actionbox{
	width: 280px;
	/*border: 1px solid rgba(204, 204, 255, 0.3);*/
	float: left;
	/*padding: 5px;*/
	border-radius: 5px;
}
.otherbox{
	width: 240px;
	float: right;
	/*border: 1px solid rgba(204, 204, 255, 0.3);*/
	/*border-radius: 5px;*/
	/*padding: 5px 0;*/
	margin-left: 10px;
}
.linebox{
	/*width: 240px;*/
	/*float: right;*/
	/*border: 1px solid rgba(204, 204, 255, 0.3);*/
	border-radius: 5px;
	/*padding: 5px 0;*/
	/*margin-left: 5px;*/
}
.notebox{
	/*width: 240px;*/
	/*float: right;*/
	/*border: 1px solid rgba(204, 204, 255, 0.3);*/
	border-radius: 5px;
	/*padding: 5px;*/
	margin-top: 5px;
}
.notebox textarea{
	margin-top: 5px;
	width: 218px;
	height: 65px;
	border: 1px solid rgba(115, 143, 254, 0.7);
}
.box-close{
	transition:all .4s ease-in-out;
}
.box-close,
.button-close{
	position: relative;
	top: -5px;
	float: right;
	padding: 0 10px;
	padding-top: 5px;
	right: 5px;
	border: 1px solid #999;
	border-radius: 3px;
	cursor: default;
	text-align: center;
	text-indent: 0;
	line-height: 16px;
}
.box-close:hover,
.button-close:hover{
	border: 1px solid rgba(255, 143, 0, 0.84);
	background-color: rgba(255, 143, 0, 0.84);
	color: #FFF;
}
.boxbutton{
	margin: 0 5px;
}
.boxbutton-wrap,
.box-submit{
	text-align:center;
	padding:5px 0;
}
.boxdes{
	font-size: 12px;
	text-indent: 24px;
	color: #444;
}
.box-cp{
	font-size: 12px;
	height: 20px;
	color: #444;
	text-align: right;
	border-top: 1px solid #cecece;
	padding: 2px 10px;
}
.boxlabel{
	width: 120px;
	display: inline-block;
	overflow: hidden;
}
.actionselect{
	min-width: 280px !important;
	height: 35px;
	margin-top: 1px;
	border: 1px solid #738ffe;
	font-size: 16px;
	font-weight: bold;
	color: #738ffe;
}
.box_select{
	min-width: 160px;
	display: inline-block;
	background-color: transparent;
}
.boxtext{
	max-width: 138px;
	min-width: 0 !important;
	display: inline-block;
	margin-left: 0;
	margin: 0;
}

.boxarea{
	min-width: 140px;
}
.box-label{
	min-width: 120px;
	display: inline-block;
}
.box-select{
	min-width: 240px;
	display: inline-block;
}
.box-direct{
	text-align: center;
}
.box-text{
	min-width: 240px;
	border: 1px solid #ccc;
}
.testbox{
	height: 200px;
	width: 400px;
	border: 1px solid #d0d9ff;
	border-radius: 5px;
	padding: 10px;
	-webkit-user-select:auto;
}
.box_check{

}

/* ui */
.uibox{
	padding-left: 5px;
	margin-left: 24px;
	border-radius: 5px;
	border: 1px solid transparent;
	transition:all .4s ease-in-out;
}
.uibox:hover{
	border-left: 1px solid #d0d9ff;
}
/*.uirange[type=range]{
	width: 140px; 
	height: 1px; 
	background: #5677fc;
	rgba(75, 75, 75, 0.8) !important; 
	border: 1px solid transparent; 
	border-radius: 5px;
	-webkit-user-select: none;
	-webkit-appearance: none !important; }
.uirange:focus{ outline:none }
.uirange[type=range]::-webkit-slider-thumb{ 
	width: 15px; 
	height: 15px;
	border-radius:100%;
	background: #e7e9fd; 
	border: 1px solid #d0d9ff; 
	box-shadow: 1px 1px 1px #000; 
	-webkit-user-select: none;
	-webkit-appearance: none !important; 

	width: 28px;
	height: 12px;
	border-radius: 6px;
	background: #5677fc;
	box-shadow: none;
	margin-bottom: 1px;
}*/
.uirangebox{
	margin: 0 5px;
	border-bottom: 1px solid #d0d9ff;
	width: 30px !important;
	display: inline-block;
	text-align: center;
	font-size: 13px;
	color: #000;
}
.uilabel{
	display: inline-block;
	min-width: 100px;
	padding-right: 5px;
}
.uicolor[type=color]{
	padding:0;
	border:none;
	width:70px;
	height:30px;
	margin-top:-5px;
	background: #fff;
	}
.uicolor:focus{ outline:none }
.confarea{
	border: 1px solid #d0d9ff;
	border-radius: 2px;
	min-height: 0;
	width: 80px;
	font-size: 13px;
	padding: 3px 5px;
	background: rgba(255,255,255,.8);
	}
.setmargin{
	margin-left: 24px;
}
.sdrgbox{
	width: 300px;
	border: 1px solid #666;
	padding: 2px 5px;
	border-radius: 2px;
	display: inline-block;
	margin: 5px;
}
.sdrgtitle{
	background-color: #5E6977;
	display: block;
	margin: -2px -5px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	margin-bottom: 2px;
}
select{
	border-radius: 3px;
	border: 1px solid #d0d9ff;
	height: 26px;
	padding: 0 5px;
	min-width: 100px;
	width: 160px;
	color: rgba(0, 0, 0, 0.9);
	font-size: 16px;
}
select optgroup{
	color: #5677fc;
	background: #d0d9ff;
	font-weight: bold;
	
}
select optgroup>option{
	color: #000;
	background: #fff;
}
input[type=text]{
	border: 1px solid #d0d9ff;
	height: 26px;
	border-radius: 3px;
	min-width: 160px;
	padding: 0 10px;
}
input[type=button]{
	min-width: 100px;
	height: 32px;
	line-height: 32px;
	font-weight: bold;
	font-size: 1em;	
	display: inline-block;
	cursor: pointer;
	text-align: center;
	transition:background .2s ease-in-out;
	color: #5677fc;
	padding: 0 8px;
	margin: 0 5px;
	border-radius: 2px;
	background: rgba(0, 0, 0, 0);
	background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
input[type=button]:hover{
	color: #fff;
	background: #5677fc;
}

input[type=button]:active {
	position: relative;
	top: 1px;
	background: rgba(86, 119, 252, 0.4); 
}
input[type=file]{
	border: 1px solid #ccf;
	border-radius: 3px;
	padding: 2px 10px;
}
textarea{
	border: 1px solid #d0d9ff;
	border-radius: 3px;
	padding: 0 10px;
}
select:hover{
	/*border-color: brown;*/
}
.destext{
	width: 238px !important;
	min-width: 238px !important;
}
.box-more{
	padding: 5px 0;
}
.box-more select{
	margin: 2px 0;
}

#about_main{

}
#abmain_log{
	display: block;
	float: left;
	height: 64px;
}
#abmain_title{
	padding: 5px 70px;
}
#abmain_name{
	font-size: 16px;
}
#abmain_des{
	font-size: 12px;
}

#about_info{
	padding: 10px
}
#about_info div{
	background-size: contain;
	background-repeat: no-repeat;
	padding-left: 24px;
	height: 16px;
	line-height: 16px;
	margin: 5px 0;
}
#abinfo_git{
	background-image: url(../image/github.svg);
}
#abinfo_fb{
	background-image: url(../image/issue.svg);
}
#abinfo_ver,#abinfo_vers{
	background-image: url(../image/version.svg);
}

#about_des{
	font-size: 12px;
    line-height: 14px;
    color: #444;
    margin: 10px 0;
}

#about_box{
	/*width:660px;*/
	/*margin:0 auto;*/
	padding:5px;
	text-align:center;
}
#about_title{
	font-size: 48px;
	color: #5677fc;
	height: 64px;
	line-height: 1;
}
#about_desa{
	padding-bottom: 10px;
	padding-top: 5px;
	font-size: 16px;
}
#about_desb{
	/*text-indent: 28px;*/
	font-size: 14px;
	text-align: left;
	padding: 5px 0;
}
#loadingbox{
	color: #5677fc;
	position: fixed;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 36px;
	background: #fff;
	top: 0;
	padding-top: 100px;
	z-index: 100;
	transition:all .4s ease-in-out;
}
#trash{
	/* display: none; */
	float: right;
	padding-right: 10px;
	/* width: 21px; */
	height: 20px;
	cursor: pointer;
}
.con-item li div:first-child{
	width: 160px;
	height: 40px;
	overflow: hidden;
	float: left;
}
.about_name{
	font-weight: bold;
	/*display: inline-block;*/
	width: 100px;
	text-align: left;
	background-color: #ccf;
    text-indent: 20px;
}
.about_content{
	min-width: 200px;
	/*display: inline-block;*/
	margin: 1px;
	padding: 1px 10px;
	border-radius: 3px;
	transition:all .8s ease-in-out;
	text-align: left;
	border-right: 1px solid #ccf;
}
.about_content:hover{
	background: #F4F4FA;
}
details p{
	padding: 0 10px;
	margin: 0;
	color: #666;
	/*height: 20px;*/
	line-height: 20px;
}
details ul{
	margin: 0;
}
details li{
	color: #666;
}
details li i{
	font-weight: bold;
	color: #000;
}
details>details{
	margin-left: 20px;
}
summary{
	height: 16px;
	line-height: 16px;
}
summary:hover{
	cursor: pointer;
}
.rate_box{
	display: inline-block;
	border: #d0d9ff 1px solid;
	border-radius: 3px;
	padding: 2px 5px;
	font-size: 14px;
	background: #eee;
	cursor: pointer;
}
.rate_box:hover{
	background: #ddd;
}
.tab_translate{
	border-collapse: collapse;
	border: 1px #d0d9ff solid;
	margin-top: 20px;
}
.tab_translate .tr_title{
	background: #555;
	color: #fff;
	font-weight: bold;
	border: #555;
}
.tab_translate .tr_a{
	background: #fff;
}
.tab_translate .tr_b{
	background: #f1f1f1;
}
.tab_translate td{
	width: 160px;
	text-align: left;
	text-indent: 5px;
}
.thanks_name{
	text-indent: 20px;
}
.thanks_item{
	
}
.thanks_ul{
	margin: 0;
	padding: 0;
}

.box_range{
	width: 115px;
}
.box_range_value{
	margin: 0 3px;
	border-bottom: 1px solid #d0d9ff;
	width: 30px !important;
	display: inline-block;
	text-align: center;
	font-size: 13px;
	color: #000;
}
.box_range_parent{
	margin: 5px 0;
	display: inline-block;
}

#box_first{
	max-width: 600px;
	font-size: 25px;
	line-height: 45px;
}
#box_first li{
	font-size: 14px;
	line-height: 25px;
}
#btn_export{
	text-decoration: none;
    min-width: 100px;
    height: 32px;
    line-height: 32px;
    font-weight: bold;
    font-size: 1em;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    transition: background .2s ease-in-out;
    color: #5677fc;
    padding: 0 8px;
    margin: 0 5px;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0);
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
#btn_export:hover{
	cursor: pointer;
	color: #fff;
	background: #5677fc;
}
.label_br{
	padding-left: 20px;
	color: #666;
}
#allver_table{
	/*border: 1px solid #cccccc;*/
	border-collapse: collapse;
	margin: 10px auto;
}
#allver_title{
	background-color: #555555;
	color: #ffffff;
	font-weight: bold;
}
.allver_name{
	min-width: 160px;
	border-right: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
}
.allver_url{
	text-align: left;
	text-indent: 10px;
	border-right: 1px solid #cccccc;
}
.drag_ing{
	opacity: .5;
	transform: scale(.9);
}
.drag_over{
	border:2px dashed #000;
}
.darg_new{
	/*width: 0 !important;*/
	/*height: 0 !important;*/
	transition: all .4s ease-in-out;
	background-color: #fff;
}

.sortable-placeholder{
	width: 200px;
	height: 40px;
	line-height: 40px;
	border:1px solid #ccf;
	margin: 5px;
	padding: 2px 10px;
	float: left;
	border-radius: 2px;
	border:1px dashed #ccf;
}
.box_unit{
	opacity: .7;
	font-size: 12px;
}

/*.menuul li:before{ content: "\2764"; }*/

/*ad171217*/
#ad171217_btn{
	position: fixed;right: 0;top: 100px;width: 14px;height: auto;z-index: 100;opacity: .9; font-size: 14px;padding: 6px;cursor: pointer;
	background-color: red;
	color: #fff;
	font-weight: bold;	
    border: 1px solid rgba(255,255,255,.5);
    border-right: none;
    border-radius: 2px;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    display: none;
}

#box_ad171217{
	width: 300px;
	margin-bottom: 8px;
}
#box_ad171217 img{
	width: 100%;
}
#box_ad171217 ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#box_ad171217 li{
	font-size: 12px;
	color: rgba(0,0,0,.6);
}
.opt_des{
	margin-left: 20px;
	font-size: 12px;
	color: #777;
}

#donate_box{
	position: fixed;
	right: 0;
	top: 67px;
	width: auto;
	height: auto;
	z-index: 10000;
	opacity: .98;
	font-size: 14px;
	padding: 6px;
	background-color: #2b2b34;
	color: #fff;
	font-weight: bold;	
    border: 1px solid rgba(255,255,255,.5);
    border-right: none;
    border-radius: 2px;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    display: none;
}
#donate_box ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
}
#donate_box ul li{
	padding: 2px;
	margin: 2px;
}
#donate_title{
	
}
#donate_name{
	cursor: pointer;
	display: inline-block;
}
#donate_box .donate_listli{
	cursor: pointer;
	max-width: 64px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 12px;
	font-weight: normal;
}
#donate_box .donate_listcurrent{
	border: 1px solid #fff;
	background-color: #fff;
	color: #000;
	margin: -1px 0;
	border-radius: 2px 2px 0 0;
}
#donate_main{
	margin-top: 5px;
	display: none;
}
#donate_box #donate_content{
	padding: 8px;
	background-color: #fff;
}
#donate_box .donate_contentlist{
	display: none;
	text-align: center;	
}
#donate_box .donate_contentcurrent{
	display: block;
}
#donate_box .donate_contentlist img{
	display: block;
	width: 192px;
	margin: 0 auto;
}
#donate_box .donate_contentlist span{
	display: block;
	font-size: 10px;
	font-weight: normal;
	width: 200px;
	text-align: left;
	color: #000;
	padding-top: 5px;
	margin: auto;
}
#donate_box .donate_contentlist a{
	display: block;
	font-size: 16px;
	text-decoration: underline;
	color: blue;
	font-weight: bold;
}
#donate_box .donate_contentlist a:visited{
	text-decoration: underline;
	color: blue;
}
#donate_box #donate_bottom{
	font-size: 10px;
	font-weight: normal;
	color: #aaa;
}
#donate_box #donate_btn_close{
	display: none;
	color: rgba(255, 255, 255, 0.5);
	position: absolute;
	top: 5px;
	right: 5px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	padding: 1px 5px;
	border-radius: 100%;
	cursor: pointer;
	transition:all .4s ease-in-out;
}
#donate_box #donate_btn_hide{
	display: none;
	color: rgba(255, 255, 255, 0.5);
	position: absolute;
	top: 5px;
	right: 36px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	padding: 1px 5px;
	border-radius: 100%;
	cursor: pointer;
	transition:all .4s ease-in-out;
}
#donate_box #donate_btn_close:hover,
#donate_box #donate_btn_hide:hover{
	background: red;
	border: 1px solid transparent;
	color: #fff;
}
#donate_box #donate_btn_close:active,
#donate_box #donate_btn_hide:active{
	background: blue;
}