smartup.su_apps#su_apps_aliqr1801 .aliqrbox{
	width: 360px;
	padding: 8px;
	text-align: center;
}
smartup.su_apps#su_apps_aliqr1801 .aliqrbox img{
	width: 300px;
}
smartup.su_apps#su_apps_aliqr1801 li{
	color: #888;
	font-size: 12px;
}