smartup.su_apps#su_apps_jslist .su_jslist_box{
	width: 480px;
	padding: 8px;
}
smartup.su_apps#su_apps_jslist ul{
	/*padding: 10px;*/
	text-align: center;
}
smartup.su_apps#su_apps_jslist li{
	border: 1px solid rgba(204, 204, 255, 0.6);
	padding: 0 8px;
	margin: 1px;
	font-size: 14px;
	font-weight: bold;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.7);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	cursor: pointer;
	transition:all .4s ease-in-out;
	border-radius: 5px;
	width: 238px;
	height: 30px;
	line-height: 30px;
	box-sizing: border-box;
	display: inline-block;
	text-align: center;
}
smartup.su_apps#su_apps_jslist li img{
	width: 16px;
	margin-right: 5px;
}
smartup.su_apps#su_apps_jslist li:hover{
	box-shadow: 0px 1px 3px #ccc;
	/*background: rgba(204, 204, 204, 0.2);*/
	background: #d0d9ff;
	/*width: 337px;*/
	/*margin: 0 -5px;*/
	/*height: 40px;*/
	line-height: 30px;
	border-color: rgba(86,119,252,.5) !important;
}
smartup.su_apps#su_apps_jslist li:hover .su_tablist_button_liclose{
	opacity: 1;
	margin-top: -30px;
}
smartup.su_apps#su_apps_jslist li span{
	display: inline-block;
	width: 372px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
smartup.su_apps#su_apps_jslist li:hover .li_0{
	transition:all .4s ease-out;
	margin-left: -372px;
}