smartup.su_apps#su_apps_lottery .lottery_box{
	padding: 8px;
}
smartup.su_apps#su_apps_lottery .lottery_data{
	text-align: center;
	padding: 8px 8px;
	border: 1px solid #cccccc45;
	border-radius: 30px;
	margin: 8px 0;
}
smartup.su_apps#su_apps_lottery .lottery_data span{
	display: inline-block;
	width: 22px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	background: #e55a3d;
	border-radius: 50%;
	color: #fff;
	font-weight: bold;
	margin: 2px;
}
