smartup.su_apps#su_apps_pxmovie .su_pxmovie_box{
	width: 360px;
	padding: 8px;
}
smartup.su_apps#su_apps_pxmovie  ul{
	padding-bottom: 8px;
	text-align: left;
	width: 100%;
}
smartup.su_apps#su_apps_pxmovie  li{
	border: 1px solid rgba(204, 204, 255, 0.6);
	border-radius: 2px;
	padding: 0 8px;
	margin: 1px 0;
	width: 100%;
	height: 32px;
	line-height: 32px;
	box-sizing: border-box;
	/*font-weight: bold;*/
	font-size: 14px;
	color: rgba(0, 0, 0, 0.7);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	cursor: pointer;
	transition:all .4s ease-in-out;
}
smartup.su_apps#su_apps_pxmovie  li img{
	width: 16px;
	margin-right: 5px;
}
smartup.su_apps#su_apps_pxmovie  li:hover{
	box-shadow: 0px 1px 3px #ccc;
	background: #d0d9ff;
	line-height: 32px;
	border-color: rgba(86,119,252,.5) !important;
}
smartup.su_apps#su_apps_pxmovie  li:hover .su_tablist_button_liclose{
	opacity: 1;
	margin-top: -32px;
}
smartup.su_apps#su_apps_pxmovie  li span{
	display: block;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
smartup.su_apps#su_apps_pxmovie  li:hover .li_0{
	transition:all .4s ease-out;
	margin-top: -32px;
}
smartup.su_apps#su_apps_pxmovie .data{
}
smartup.su_apps#su_apps_pxmovie .name{
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 4px;
}
smartup.su_apps#su_apps_pxmovie .info{
	font-size: 12px;
	text-align: left;
}
smartup.su_apps#su_apps_pxmovie .infolist{
	display: inline-block;
	width: 80px;
	text-align: right;
	font-weight: bold;
}
smartup.su_apps#su_apps_pxmovie .back{
	margin-bottom: 10px;
	position: absolute;
	right: 8px;
	top: 28px;
}
smartup.su_apps#su_apps_pxmovie .url{
	margin-top: 5px;
	min-height: 64px;
	width: 354px;
    border-radius: 8px;
	border: 1px solid rgba(115, 143, 254, 0.7);	
}
smartup.su_apps#su_apps_pxmovie .des{
	text-indent: 24px;
	border-top: 1px solid #00000057;
	padding-top: 6px;
	margin-top: 4px;
}