smartup.su_apps#su_apps_qr .su_qrbox{
	width: 510px;
	/*height: 370px;*/
	padding: 8px;
	height: 264px;
}
smartup.su_apps#su_apps_qr input[type=radio]{
	margin: 5px;
}
smartup.su_apps#su_apps_qr button{
	margin: 5px 10px;
}
smartup.su_apps#su_apps_qr .qr_inputbox{
	text-align: center;
	width: 240px;
	float: left;
}
smartup.su_apps#su_apps_qr .qr_typelist{
	text-align: left;
}
smartup.su_apps#su_apps_qr .qr_inputarea{
	width: 220px;
	height: 100px;
}
smartup.su_apps#su_apps_qr .qr_outputbox{
	float: right;
	margin-left: 248px;
	/*width: 240px;*/
	position: absolute;
	background-color: #fff;
	transition:all .4s ease-in-out;
	padding: 4px;
    border: 1px solid #ccc5;
    border-radius: 2px;
}
smartup.su_apps#su_apps_qr .su_copyright{
	font-size: 12px;
	color: #777;
	border-top: 1px solid #eee;
	text-align: center;
	padding-top: 5px;
	margin-top: 10px;
}
smartup.su_apps#su_apps_qr .su_copyright a{
	color: #777;
	text-decoration: none;
}
smartup.su_apps#su_apps_qr .qr_output{
	text-align: center;
}