smartup.su_apps#su_apps_recentht .recenthtbox{
	width: 360px;
	padding: 8px;
}
smartup.su_apps#su_apps_recentht  ul{
	padding-bottom: 8px;
	text-align: left;
	width: 100%;
}
smartup.su_apps#su_apps_recentht  li{
	border: 1px solid rgba(204, 204, 255, 0.6);
	border-radius: 2px;
	padding: 0 8px;
	margin: 1px 0;
	font-size: 14px;
	width: 100%;
	height: 32px;
	line-height: 32px;
	box-sizing: border-box;
	font-weight: bold;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.7);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	cursor: pointer;
	transition:all .4s ease-in-out;
}
smartup.su_apps#su_apps_recentht  li img{
	width: 16px;
	margin-right: 5px;
}
smartup.su_apps#su_apps_recentht  li:hover{
	box-shadow: 0px 1px 3px #ccc;
	background: #d0d9ff;
	line-height: 32px;
	border-color: rgba(86,119,252,.5) !important;
}
smartup.su_apps#su_apps_recentht  li:hover .su_tablist_button_liclose{
	opacity: 1;
	margin-top: -32px;
}
smartup.su_apps#su_apps_recentht  li span{
	display: block;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
smartup.su_apps#su_apps_recentht  li:hover .li_0{
	transition:all .4s ease-out;
	margin-top: -32px;
}