smartup.su_apps#su_apps_recentbk .recentbkbox{
	width: 360px;
	padding: 8px;
}
smartup.su_apps#su_apps_recentbk ul{
	padding-bottom: 8px;
	text-align: left;
	width: 100%;
}
smartup.su_apps#su_apps_recentbk li{
	border: 1px solid rgba(204, 204, 255, 0.6);
	border-radius: 2px;
	font-size: 14px;
	box-sizing: border-box;
	width: 100%;
	height: 32px;
	line-height: 32px;
	margin: 1px 0;
	padding: 0 8px;
	font-weight: bold;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.7);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	cursor: pointer;
	transition:all .4s ease-in-out;
}
smartup.su_apps#su_apps_recentbk li>span{
	display: block;
}
smartup.su_apps#su_apps_recentbk li img{
	width: 16px;
	margin-right: 5px;
}
smartup.su_apps#su_apps_recentbk li:hover{
	box-shadow: 0px 1px 3px #ccc;
	background: #d0d9ff;
	border-color: rgba(86,119,252,.5) !important;
}
smartup.su_apps#su_apps_recentbk li:hover .su_tablist_button_liclose{
	opacity: 1;
	margin-top: -30px;
}
smartup.su_apps#su_apps_recentbk span.li_0,
smartup.su_apps#su_apps_recentbk span.li_1{
	height: 100%;
	/*line-height: 2;*/
}
smartup.su_apps#su_apps_recentbk li:hover span.li_0{
	margin-top: -30px;
}
smartup.su_apps#su_apps_recentbk li span{
	display: inline-block;
	/*width: 372px;*/
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	transition:all .4s ease-out;
	display: block;
}