smartup.su_apps#su_apps_synced .su_syncedbox{
	width: 360px;
	padding:8px;
}
smartup.su_apps#su_apps_synced ul{
	/*padding: 10px;*/
	text-align: left;
	padding-bottom: 8px;
	box-sizing: border-box;
	width: 100%;
}
smartup.su_apps#su_apps_synced li{
	border: 1px solid rgba(204, 204, 255, 0.6);
	border-radius: 2px;
	padding: 0 8px;
	margin: 1px 0;
	font-size: 14px;
	box-sizing: border-box;
	width: 100%;
	height: 32px;
	line-height: 32px;
	font-weight: bold;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.7);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	cursor: pointer;
	transition:all .4s ease-in-out;
}
smartup.su_apps#su_apps_synced li img{
	width: 16px;
	margin-right: 5px;
}
smartup.su_apps#su_apps_synced li:hover{
	box-shadow: 0px 1px 3px #ccc;
	background: #d0d9ff;
	line-height: 30px;
	border-color: rgba(86,119,252,.5) !important;
}
smartup.su_apps#su_apps_synced li:hover .su_tablist_button_liclose{
	opacity: 1;
	margin-top: -32px;
}
smartup.su_apps#su_apps_synced li span{
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
smartup.su_apps#su_apps_synced li:hover .li_0{
	transition:all .4s ease-out;
	margin-left: -372px;
}
smartup.su_apps#su_apps_synced .su_recentclosed_win{
	background-color: rgba(204, 204, 255, 0.4);
}
smartup.su_apps#su_apps_synced .su_synced_head{
	position: absolute;
	width: 100%;
	box-sizing: border-box;
	background: rgba(255,255,255,.9);
	text-align: left;
	position: sticky;
	padding: 8px;
	left: 0;
	top: 0;
	padding-bottom: 0;
}
smartup.su_apps#su_apps_synced .su_synced_box{
	width: 360px;
	box-sizing: border-box;
	padding: 8px;
}
smartup.su_apps#su_apps_synced .su_synced_switch{
	display: inline-block;
	max-width: 200px;
	text-indent: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}