smartup.su_apps#su_apps_tablist .tablistbox{
	width: 360px;
	padding: 8px;
}
smartup.su_apps#su_apps_tablist ul{
	/*padding: 5px 0px;*/
	width: 100%;
	box-sizing: border-box;
	padding-bottom: 8px;
	text-align: left;
}
smartup.su_apps#su_apps_tablist li{
	box-sizing: border-box;
	border: 1px solid rgba(204, 204, 255, 0.6);
	border-radius: 2px;
	padding: 0 8px;
	margin: 1px 0;
	font-size: 14px;
	box-sizing: border-box;
	width: 100%;
	height: 32px;
	line-height: 32px;
	font-weight: bold;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.7);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	cursor: pointer;
	transition:all .4s ease-in-out;
	background-repeat: no-repeat;
	background-position: 6px 6px;
    background-size: 16px;
    text-indent: 22px;
}
smartup.su_apps#su_apps_tablist li img{
	width: 16px;
	margin-right: 5px;
	display: inline-block;
}
smartup.su_apps#su_apps_tablist li:hover{
	box-shadow: 0px 1px 3px #ccc;
	background-color: #d0d9ff;
	border-color: rgba(86,119,252,.5) !important;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
smartup.su_apps#su_apps_tablist li:hover .su_tablist_button_liclose{
	opacity: 1;
	margin-top: 5px;
	margin-right: -10px;
}
smartup.su_apps#su_apps_tablist .su_tablist_button_liclose{
	position: absolute;
	right: 24px;
	border: 1px solid transparent;
	border-radius: 100%;
	padding: 2px 6px;
	font-size: 14px;
	line-height: 15px;
	opacity: 0;
	background: rgba(0, 0, 0, 0.2);
	color: rgb(255, 255, 255);
	transition: all 0.4s ease-in-out;
	margin-top: 10px;
	text-indent: 0;
}
smartup.su_apps#su_apps_tablist .su_tablist_button_liclose:hover{
	background: red;
	border: 1px solid transparent;
	color: #fff;
}
smartup.su_apps#su_apps_tablist .su_tablist_cur{
	background-color: rgba(208, 217, 255, 0.5);
}