smartup.su_apps#su_apps_tbkjx .su_tbkjx_box{
	width: 600px;
	height: 420px;
	padding: 8px;
	height: 436px;
	padding: 0;
}
smartup.su_apps#su_apps_tbkjx .su_tbkjx_boxcontent{
	float: left;
	position: fixed;
	/*border-right: 1px solid #ccf;*/
	padding: 8px;
	padding-right: 20px;

position: sticky;
width: 340px;
float: left;
}
smartup.su_apps#su_apps_tbkjx .su_tbkjx_boxlist{
	width: 224px;
	height: 100%;
	float: right;
	background-color: #f7f3f3;

overflow: auto;
}

smartup.su_apps#su_apps_tbkjx .su_tbkjx_listhead{
	position: fixed;
	width: 208px;
	background-color: #f7f3f3;
	padding: 2px 8px;
/**/
position: absolute;
}
smartup.su_apps#su_apps_tbkjx .su_tbkjx_boxsearch{

}
smartup.su_apps#su_apps_tbkjx .su_tbkjx_boxsearch input{
	display: inline-block;
	width: 90px;
/**/
padding: 0px 4px;
width: 120px;
margin: 3px 4px;
margin-left: 0;
}
smartup.su_apps#su_apps_tbkjx .su_tbkjx_boxsearch button{
	min-width: 10px;
	width: 60px;
	height: 24px;
	line-height: 24px;
	display: inline-block;
	float: right;
	margin: 4px auto;
	padding: 0;
/**/
float: initial;
margin-left: 4px;
}
smartup.su_apps#su_apps_tbkjx .su_tbkjx_headspan{
    font-size: 10px;
    color: #333;
}
smartup.su_apps#su_apps_tbkjx .su_tbkjx_sort{
	margin-top: 2px;
}
smartup.su_apps#su_apps_tbkjx .su_tbkjx_sortbtn{
	font-size: 10px;
	height: 18px;
	line-height: 18px;
	min-width: auto;
	padding: 0 4px;
	margin: 0;
}
smartup.su_apps#su_apps_tbkjx .su_tbkjx_sortbtncur{
	color: rgb(255, 255, 255);
	background: rgb(86, 119, 252);
}
smartup.su_apps#su_apps_tbkjx .su_tbkjx_platform{
	margin-bottom: 2px;
}
smartup.su_apps#su_apps_tbkjx .su_tbkjx_platformbtn{
	font-size: 10px;
	height: 18px;
	line-height: 18px;
	min-width: auto;
	padding: 0 4px;
	margin: 0;
}
smartup.su_apps#su_apps_tbkjx .su_tbkjx_platformbtn_cur{
	color: rgb(255, 255, 255);
	background: rgb(86, 119, 252);
}
smartup.su_apps#su_apps_tbkjx .su_tbkjx_extent{
	/*padding: 4px 0;*/
	padding: 0;
	margin-bottom: 2px;
}
smartup.su_apps#su_apps_tbkjx .su_tbkjx_extenttext{
	width: 35px;
	padding: 0 2px;
	margin: 0 2px;
	height: 18px;
	font-size: 10px;
}
smartup.su_apps#su_apps_tbkjx .su_tbkjx_extentbtn{
	width: 40px;
	min-width: auto;
	font-size: 12px;
	height: 18px;
	line-height: 18px;
	padding: 0;
	margin: 0;
	margin-left: 4px;
}
smartup.su_apps#su_apps_tbkjx .su_tbkjx_extentspan{
	font-size: 10px;
}
smartup.su_apps#su_apps_tbkjx .su_tbkjx_img{
	height: 360px;
	width: 360px;
	display: block;
	cursor: pointer;
}
smartup.su_apps#su_apps_tbkjx .su_tbkjx_name{
	width: 360px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 16px;
	color: #333;
	padding: 4px 2px;
}
smartup.su_apps#su_apps_tbkjx .su_tbkjx_btnbox{
    width: 360px;
    margin: 0;
    padding: 0;
	background-color: red;
	color: #fff;
}
smartup.su_apps#su_apps_tbkjx .su_tbkjx_btnbox:hover{
	background-color: #fff;
	color: red;
}
smartup.su_apps#su_apps_tbkjx .su_tbkjx_spanprice{

}
smartup.su_apps#su_apps_tbkjx .su_tbkjx_price{
	/*padding: 10px;*/
	width: 100%;
	text-align: center;
	padding-bottom: 8px;
	font-size: 24px;
	padding-left: 8px;
}
smartup.su_apps#su_apps_tbkjx .su_tbkjx_buy{
	padding-left: 8px;
}
smartup.su_apps#su_apps_tbkjx .su_tbkjx_listjing{
	padding-top: 86px;

padding-top: 0;
margin-top: 120px;
position: initial;
}
smartup.su_apps#su_apps_tbkjx .su_tbkjx_listjing ul{
	/*background-color: #ccf*/
	padding-bottom: 40px;
/**/
padding-bottom: 0;
height: 288px;
overflow-y: auto;
overflow-x: hidden;
height: 328px;
height: 264px;
padding: 2px 0;
}
smartup.su_apps#su_apps_tbkjx .su_tbkjx_listjing li{
	width: 224px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

	box-sizing: border-box;
	border: 1px solid rgba(204, 204, 255, 0.6);
	border-radius: 2px;
	padding: 0 8px;
	margin: 1px 0;
	font-size: 12px;
	height: 32px;
	line-height: 32px;
	/*font-weight: bold;*/
	cursor: pointer;
	transition:all .1s ease-in-out;
/**/
width: 206px;
}
smartup.su_apps#su_apps_tbkjx .su_tbkjx_listjing li:hover{
	border: 1px solid #ccc;
	background-color: #fff;
}
smartup.su_apps#su_apps_tbkjx .su_tbkjx_listcurrent{
	border-left: none !important;
	font-weight: bold;
	color: #151543;
	/*margin-left: -16px !important;*/
	background-color: #fff;
	z-index: 100;
}
smartup.su_apps#su_apps_tbkjx .su_tbkjx_listbottom{
	position: fixed;
	width: 224px;
	/*height: 40px;*/
	margin-top: 328px;
	background-color: #f7f3f3; 
	text-align: center;
	padding-top: 8px;
	height: 32px;
/**/
position: initial;
bottom: 0;
width: 206px;
}
smartup.su_apps#su_apps_tbkjx .su_tbkjx_listbottom button{
	min-width: auto;
	margin: 0;
	padding: 0;
	width: 80px;
	height: 24px;
	line-height: 24px;
	border: none !important;
/**/
width: 70px;
margin: 4px 0;
}
smartup.su_apps#su_apps_tbkjx .su_tbkjx_listbottom button:disabled,
smartup.su_apps#su_apps_tbkjx .su_tbkjx_listbottom button:disabled:hover{
	background-color: #ccc;
	color: #000;
	cursor: not-allowed;
	box-shadow: none;
}
smartup.su_apps#su_apps_tbkjx .su_tbkjx_des{
	font-size: 10px;
	color: #333;
}
smartup.su_apps#su_apps_tbkjx .su_options_help{
	position: absolute;
	left: 0;
	top: 0;
	background-color: #fff;
	padding: 8px 16px;
	width: -webkit-calc(100% - 16px);
	width: -moz-calc(100% - 16px);
	width: calc(100% - 16px);
	margin: 8px;
	margin-top: 32px;
	box-sizing: border-box;
	opacity: 0;
	z-index: -1;
	box-shadow: 0px 2px 4px #5677fc;
}
smartup.su_apps#su_apps_tbkjx .su_options_help li{
	font-size: 12px;
	display: block;
	float: unset;
}
smartup.su_apps#su_apps_tbkjx .su_tbkjx_qr{
	position: absolute;
	left: 16px;
	bottom: 76px;
}
smartup.su_apps#su_apps_tbkjx .su_tbkjx_qr img{
	width: 0px;
	height: 0px;
	opacity: 0;
	cursor: pointer;
}